USE [master]
GO
/****** Object:  Database [SaleMgn]    Script Date: 3/30/2014 10:13:33 AM ******/
CREATE DATABASE [SaleMgn] ON  PRIMARY 
( NAME = N'SaleMgn', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\SaleMgn.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SaleMgn_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\SaleMgn_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SaleMgn].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SaleMgn]
GO
/****** Object:  Table [dbo].[City]    Script Date: 3/30/2014 10:13:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](255) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Status] [int] NOT NULL,
	[LastModifiedBy] [int] NOT NULL,
	[LastModifiedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_City] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Customer]    Script Date: 3/30/2014 10:13:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Code] [nvarchar](255) NOT NULL,
	[CustomerType] [int] NOT NULL,
	[PhoneNumber1] [nvarchar](255) NULL,
	[PhoneNumber2] [nvarchar](255) NULL,
	[Email] [nvarchar](512) NULL,
	[FaxNumber] [nvarchar](255) NULL,
	[Address] [nvarchar](1000) NOT NULL,
	[CityId] [int] NOT NULL,
	[Note] [nvarchar](max) NULL,
	[ReferUserId] [int] NOT NULL,
	[ApprovedUserId] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[LastModifiedBy] [int] NOT NULL,
	[LastModifiedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CustomerShipping]    Script Date: 3/30/2014 10:13:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerShipping](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[CityId] [int] NOT NULL,
	[Note] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[LastModifiedBy] [int] NOT NULL,
	[LastModifiedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_CustomerContact] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DataVersion]    Script Date: 3/30/2014 10:13:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DataVersion](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Value] [nvarchar](64) NOT NULL,
 CONSTRAINT [PK_DataVersion] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Export]    Script Date: 3/30/2014 10:13:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Export](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StockId] [int] NOT NULL,
	[OrderId] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[Note] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[LastModifiedBy] [int] NOT NULL,
	[LastModifiedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Export] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ExportDetail]    Script Date: 3/30/2014 10:13:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExportDetail](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ExportId] [int] NOT NULL,
	[StorageId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Note] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[LastModifiedBy] [int] NOT NULL,
	[LastModifiedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_ExportDetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Feature]    Script Date: 3/30/2014 10:13:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feature](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Code] [nvarchar](1000) NOT NULL,
	[Status] [int] NOT NULL,
	[LastModifiedDate] [datetime] NOT NULL,
	[LastModifiedBy] [int] NOT NULL,
 CONSTRAINT [PK_Feature] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FeatureMapping]    Script Date: 3/30/2014 10:13:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FeatureMapping](
	[FeatureId] [int] NOT NULL,
	[UserGroupId] [int] NOT NULL,
 CONSTRAINT [PK_FeatureGroup] PRIMARY KEY CLUSTERED 
(
	[FeatureId] ASC,
	[UserGroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Import]    Script Date: 3/30/2014 10:13:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Import](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](255) NOT NULL,
	[ProviderId] [int] NOT NULL,
	[StockId] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatebBy] [int] NOT NULL,
	[Note] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[LastModifiedBy] [int] NOT NULL,
	[LastModifiedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_StockImport] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ImportDetail]    Script Date: 3/30/2014 10:13:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImportDetail](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ImportId] [int] NOT NULL,
	[StorageId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [float] NOT NULL,
	[Note] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[LastModifiedBy] [int] NOT NULL,
	[LastModifiedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_ImportDetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Order]    Script Date: 3/30/2014 10:13:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](255) NOT NULL,
	[CustomerId] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[Note] [nvarchar](max) NULL,
	[IsSeen] [bit] NOT NULL,
	[ReferUserId] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[LastModifiedDate] [datetime] NOT NULL,
	[LastModifiedBy] [int] NOT NULL,
	[IsShip] [bit] NOT NULL,
	[TransitFee] [float] NOT NULL,
	[AdjustFee] [float] NOT NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 3/30/2014 10:13:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Note] [nvarchar](max) NULL,
	[TotalQuantity] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[LastModifiedBy] [int] NOT NULL,
	[LastModifiedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_OrderDetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OrderPayment]    Script Date: 3/30/2014 10:13:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderPayment](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[PaymentTypeId] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[Note] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[LastModifiedDate] [datetime] NOT NULL,
	[LastModifiedBy] [int] NOT NULL,
	[Money] [float] NOT NULL,
 CONSTRAINT [PK_OrderPayment] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OrderTrack]    Script Date: 3/30/2014 10:13:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderTrack](
	[Id] [int] NOT NULL,
	[OrderId] [int] NOT NULL,
	[Note] [nvarchar](max) NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_OrderTrack] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PaymentType]    Script Date: 3/30/2014 10:13:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Note] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[LastModifiedDate] [datetime] NOT NULL,
	[LastModifiedBy] [int] NOT NULL,
 CONSTRAINT [PK_PaymentType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Product]    Script Date: 3/30/2014 10:13:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](255) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[ProductGroupId] [int] NOT NULL,
	[ProductUnitId] [int] NOT NULL,
	[SafeQuantity] [int] NOT NULL,
	[Size] [nvarchar](255) NULL,
	[Picture] [image] NULL,
	[Price] [float] NOT NULL,
	[IsSurface] [bit] NOT NULL,
	[AllowSurface] [bit] NOT NULL,
	[Note] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[LastModifiedBy] [int] NOT NULL,
	[LastModifiedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductCategory]    Script Date: 3/30/2014 10:13:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCategory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Status] [int] NOT NULL,
	[LastModifiedBy] [int] NOT NULL,
	[LastModifiedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_ProductCategory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductGroup]    Script Date: 3/30/2014 10:13:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductGroup](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductCategoryId] [int] NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Note] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[LastModifiedBy] [int] NOT NULL,
	[LastModifiedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_ProductGroup] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductUnit]    Script Date: 3/30/2014 10:13:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductUnit](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Status] [int] NOT NULL,
	[LastModifiedBy] [int] NOT NULL,
	[LastModifiedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_ProductUnit] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Provider]    Script Date: 3/30/2014 10:13:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Provider](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](255) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[PhoneNumber1] [nvarchar](255) NULL,
	[PhoneNumber2] [nvarchar](255) NULL,
	[FaxNumber] [nvarchar](255) NULL,
	[Email] [nvarchar](1000) NULL,
	[Address] [nvarchar](1000) NULL,
	[CityId] [int] NOT NULL,
	[Note] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[LastModifiedDate] [datetime] NOT NULL,
	[LastModifiedBy] [int] NOT NULL,
 CONSTRAINT [PK_Provider] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Session]    Script Date: 3/30/2014 10:13:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Session](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Token] [nvarchar](128) NOT NULL,
	[UserId] [int] NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[LastRenewDate] [datetime] NOT NULL,
	[IPAddress] [nvarchar](100) NULL,
 CONSTRAINT [PK_Session] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Stock]    Script Date: 3/30/2014 10:13:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stock](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Code] [nvarchar](255) NOT NULL,
	[PhoneNumber1] [nvarchar](255) NULL,
	[PhoneNumber2] [nvarchar](255) NULL,
	[FaxNumber] [nvarchar](255) NULL,
	[Address] [nvarchar](max) NULL,
	[CityId] [int] NOT NULL,
	[Note] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[LastModifiedDate] [datetime] NOT NULL,
	[LastModifiedBy] [int] NOT NULL,
 CONSTRAINT [PK_Stock] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Storage]    Script Date: 3/30/2014 10:13:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Storage](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StockId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[LastModifiedDate] [datetime] NOT NULL,
	[LastModifiedBy] [int] NOT NULL,
 CONSTRAINT [PK_Storage] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[User]    Script Date: 3/30/2014 10:13:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GroupId] [int] NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[FirstName] [nvarchar](255) NOT NULL,
	[LastName] [nvarchar](255) NOT NULL,
	[Gender] [bit] NOT NULL,
	[ReferUserId] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[LastModifiedBy] [int] NOT NULL,
	[LastModifiedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserGroup]    Script Date: 3/30/2014 10:13:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserGroup](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Note] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[LastModifiedBy] [int] NOT NULL,
	[LastModifiedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_UserGroup] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserInfo]    Script Date: 3/30/2014 10:13:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserInfo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[BirthDate] [datetime] NOT NULL,
	[PhoneNumber1] [nvarchar](255) NULL,
	[PhoneNumber2] [nvarchar](255) NULL,
	[Email] [nvarchar](512) NULL,
	[Address] [nvarchar](max) NULL,
	[CityId] [int] NOT NULL,
	[Note] [nvarchar](max) NULL,
	[Image] [image] NULL,
	[StartDate] [datetime] NOT NULL,
	[SocialInsuranceNumber] [nvarchar](255) NULL,
	[TaxNumber] [nvarchar](255) NULL,
	[SocialNumber] [nvarchar](50) NULL,
	[SocialIssuedDate] [datetime] NOT NULL,
	[SocialIssudePlace] [nvarchar](255) NULL,
 CONSTRAINT [PK_UserDetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[City] ON 

GO
INSERT [dbo].[City] ([Id], [Code], [Name], [Status], [LastModifiedBy], [LastModifiedDate]) VALUES (1, N'101', N'Hà Nội', 0, 0, CAST(0x0000A2A600000000 AS DateTime))
GO
INSERT [dbo].[City] ([Id], [Code], [Name], [Status], [LastModifiedBy], [LastModifiedDate]) VALUES (2, N'102', N'Hà Giang', 0, 0, CAST(0x0000A2A700000000 AS DateTime))
GO
INSERT [dbo].[City] ([Id], [Code], [Name], [Status], [LastModifiedBy], [LastModifiedDate]) VALUES (3, N'104', N'Cao Bằng', 0, 0, CAST(0x0000A2A800000000 AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[City] OFF
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

GO
INSERT [dbo].[Customer] ([Id], [Name], [Code], [CustomerType], [PhoneNumber1], [PhoneNumber2], [Email], [FaxNumber], [Address], [CityId], [Note], [ReferUserId], [ApprovedUserId], [Status], [LastModifiedBy], [LastModifiedDate]) VALUES (1, N'GUEST', N'KH_GUEST', 0, N'N/A', N'N/A', N'N/A', N'N/A', N'N/A', 51, N'2', 1, 1, 0, 1, CAST(0x0000A2FA00F6F614 AS DateTime))
GO
INSERT [dbo].[Customer] ([Id], [Name], [Code], [CustomerType], [PhoneNumber1], [PhoneNumber2], [Email], [FaxNumber], [Address], [CityId], [Note], [ReferUserId], [ApprovedUserId], [Status], [LastModifiedBy], [LastModifiedDate]) VALUES (4, N'nguyen van a', N'C', 0, N'01', N'02', N'mail', N'03', N'q.10', 58, N'chú', 6, 5, 0, 5, CAST(0x0000A2FB014661B0 AS DateTime))
GO
INSERT [dbo].[Customer] ([Id], [Name], [Code], [CustomerType], [PhoneNumber1], [PhoneNumber2], [Email], [FaxNumber], [Address], [CityId], [Note], [ReferUserId], [ApprovedUserId], [Status], [LastModifiedBy], [LastModifiedDate]) VALUES (5, N'nguyen van c', N'C', 0, N'04', N'05', N'c@yahoo.com', N'6', N'q.10', 58, N'chú', 6, 6, 2, 6, CAST(0x0000A2FB0142862B AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
SET IDENTITY_INSERT [dbo].[DataVersion] ON 

GO
INSERT [dbo].[DataVersion] ([Id], [Name], [Value]) VALUES (1, N'Product', N'20140327051114')
GO
INSERT [dbo].[DataVersion] ([Id], [Name], [Value]) VALUES (2, N'ProductGroup', N'20140225124726')
GO
INSERT [dbo].[DataVersion] ([Id], [Name], [Value]) VALUES (3, N'Customer', N'20140225012851')
GO
SET IDENTITY_INSERT [dbo].[DataVersion] OFF
GO
SET IDENTITY_INSERT [dbo].[Export] ON 

GO
INSERT [dbo].[Export] ([Id], [StockId], [OrderId], [CreatedDate], [CreatedBy], [Note], [Status], [LastModifiedBy], [LastModifiedDate]) VALUES (1, 5, 6, CAST(0x0000A2FB0044B3EE AS DateTime), 1, N'', 0, 1, CAST(0x0000A2FB0044F199 AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Export] OFF
GO
SET IDENTITY_INSERT [dbo].[ExportDetail] ON 

GO
INSERT [dbo].[ExportDetail] ([Id], [ExportId], [StorageId], [ProductId], [Quantity], [Note], [Status], [LastModifiedBy], [LastModifiedDate]) VALUES (1, 1, 11, 1, 1, N'', 0, 1, CAST(0x0000A2FB0044F199 AS DateTime))
GO
INSERT [dbo].[ExportDetail] ([Id], [ExportId], [StorageId], [ProductId], [Quantity], [Note], [Status], [LastModifiedBy], [LastModifiedDate]) VALUES (2, 1, 10, 2, 1, N'', 0, 1, CAST(0x0000A2FB0044F199 AS DateTime))
GO
INSERT [dbo].[ExportDetail] ([Id], [ExportId], [StorageId], [ProductId], [Quantity], [Note], [Status], [LastModifiedBy], [LastModifiedDate]) VALUES (3, 1, 9, 3, 1, N'', 0, 1, CAST(0x0000A2FB0044F199 AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[ExportDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[Feature] ON 

GO
INSERT [dbo].[Feature] ([Id], [Name], [Code], [Status], [LastModifiedDate], [LastModifiedBy]) VALUES (1, N'Manage', N'Quản Lý', 0, CAST(0x0000A2DD001AECFB AS DateTime), 1)
GO
INSERT [dbo].[Feature] ([Id], [Name], [Code], [Status], [LastModifiedDate], [LastModifiedBy]) VALUES (2, N'ManageUser', N'Quản Lý\Quản Lý Người Dùng', 0, CAST(0x0000A2DD001AECFB AS DateTime), 1)
GO
INSERT [dbo].[Feature] ([Id], [Name], [Code], [Status], [LastModifiedDate], [LastModifiedBy]) VALUES (3, N'ManagePermission', N'Quản Lý\Quản Lý Phân Quyền', 0, CAST(0x0000A2DD001AECFB AS DateTime), 1)
GO
SET IDENTITY_INSERT [dbo].[Feature] OFF
GO
SET IDENTITY_INSERT [dbo].[Import] ON 

GO
INSERT [dbo].[Import] ([Id], [Code], [ProviderId], [StockId], [CreatedDate], [CreatebBy], [Note], [Status], [LastModifiedBy], [LastModifiedDate]) VALUES (9, N'IMP_140326064952', 1, 5, CAST(0x0000A2FA013654DC AS DateTime), 1, N'', 0, 1, CAST(0x0000A2FA01365BEA AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Import] OFF
GO
SET IDENTITY_INSERT [dbo].[ImportDetail] ON 

GO
INSERT [dbo].[ImportDetail] ([Id], [ImportId], [StorageId], [ProductId], [Quantity], [Price], [Note], [Status], [LastModifiedBy], [LastModifiedDate]) VALUES (3, 9, 9, 3, 1, 15, N'', 0, 1, CAST(0x0000A2FA01365BEA AS DateTime))
GO
INSERT [dbo].[ImportDetail] ([Id], [ImportId], [StorageId], [ProductId], [Quantity], [Price], [Note], [Status], [LastModifiedBy], [LastModifiedDate]) VALUES (4, 9, 10, 2, 1, 10, N'', 0, 1, CAST(0x0000A2FA01365BEA AS DateTime))
GO
INSERT [dbo].[ImportDetail] ([Id], [ImportId], [StorageId], [ProductId], [Quantity], [Price], [Note], [Status], [LastModifiedBy], [LastModifiedDate]) VALUES (5, 9, 11, 1, 1, 13, N'', 0, 1, CAST(0x0000A2FA01365BEA AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[ImportDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

GO
INSERT [dbo].[Order] ([Id], [Code], [CustomerId], [CreatedDate], [CreatedBy], [Note], [IsSeen], [ReferUserId], [Status], [LastModifiedDate], [LastModifiedBy], [IsShip], [TransitFee], [AdjustFee]) VALUES (6, N'ORD_140327034938', 1, CAST(0x0000A2FB003F1249 AS DateTime), 1, N'', 1, 2, 0, CAST(0x0000A2FB0044A0C5 AS DateTime), 1, 1, 0, 0)
GO
INSERT [dbo].[Order] ([Id], [Code], [CustomerId], [CreatedDate], [CreatedBy], [Note], [IsSeen], [ReferUserId], [Status], [LastModifiedDate], [LastModifiedBy], [IsShip], [TransitFee], [AdjustFee]) VALUES (13, N'ORD_140327034931', 4, CAST(0x0000A2A600000000 AS DateTime), 4, N'note1', 1, 6, 0, CAST(0x0000A2F700927AA3 AS DateTime), 1, 0, 0, 0)
GO
INSERT [dbo].[Order] ([Id], [Code], [CustomerId], [CreatedDate], [CreatedBy], [Note], [IsSeen], [ReferUserId], [Status], [LastModifiedDate], [LastModifiedBy], [IsShip], [TransitFee], [AdjustFee]) VALUES (14, N'ORD_140327034932', 4, CAST(0x0000A2C500000000 AS DateTime), 4, N'note2', 1, 6, 0, CAST(0x0000A2F700929581 AS DateTime), 1, 0, 0, 0)
GO
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetail] ON 

GO
INSERT [dbo].[OrderDetail] ([Id], [OrderId], [ProductId], [Quantity], [Note], [TotalQuantity], [Status], [LastModifiedBy], [LastModifiedDate]) VALUES (5, 6, 3, 1, N'', -1, 0, 1, CAST(0x0000A2FB003F2DF3 AS DateTime))
GO
INSERT [dbo].[OrderDetail] ([Id], [OrderId], [ProductId], [Quantity], [Note], [TotalQuantity], [Status], [LastModifiedBy], [LastModifiedDate]) VALUES (6, 6, 2, 1, N'', -1, 0, 1, CAST(0x0000A2FB003F2DF3 AS DateTime))
GO
INSERT [dbo].[OrderDetail] ([Id], [OrderId], [ProductId], [Quantity], [Note], [TotalQuantity], [Status], [LastModifiedBy], [LastModifiedDate]) VALUES (7, 6, 1, 1, N'', -1, 0, 1, CAST(0x0000A2FB003F2DF3 AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[OrderDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderPayment] ON 

GO
INSERT [dbo].[OrderPayment] ([Id], [OrderId], [PaymentTypeId], [CreatedDate], [CreatedBy], [Note], [Status], [LastModifiedDate], [LastModifiedBy], [Money]) VALUES (5, 6, 2, CAST(0x0000A2FB003F2472 AS DateTime), 1, NULL, 0, CAST(0x0000A2FB0044A0C5 AS DateTime), 1, 111)
GO
INSERT [dbo].[OrderPayment] ([Id], [OrderId], [PaymentTypeId], [CreatedDate], [CreatedBy], [Note], [Status], [LastModifiedDate], [LastModifiedBy], [Money]) VALUES (6, 6, 1, CAST(0x0000A2FB003F26BC AS DateTime), 1, NULL, 0, CAST(0x0000A2FB003F2DF3 AS DateTime), 1, 222)
GO
SET IDENTITY_INSERT [dbo].[OrderPayment] OFF
GO
SET IDENTITY_INSERT [dbo].[PaymentType] ON 

GO
INSERT [dbo].[PaymentType] ([Id], [Name], [Note], [Status], [LastModifiedDate], [LastModifiedBy]) VALUES (1, N'Tiền Mặt', NULL, 0, CAST(0x0000A2A600000000 AS DateTime), 0)
GO
INSERT [dbo].[PaymentType] ([Id], [Name], [Note], [Status], [LastModifiedDate], [LastModifiedBy]) VALUES (2, N'Chuyển Khoản', NULL, 0, CAST(0x0000A2A600000000 AS DateTime), 0)
GO
SET IDENTITY_INSERT [dbo].[PaymentType] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

GO
INSERT [dbo].[Product] ([Id], [Code], [Name], [ProductGroupId], [ProductUnitId], [SafeQuantity], [Size], [Picture], [Price], [IsSurface], [AllowSurface], [Note], [Status], [LastModifiedBy], [LastModifiedDate]) VALUES (1, N'PRD_140326063144', N'Sản Phẩm', 1, 1, 0, NULL, NULL, 13, 0, 0, NULL, 0, 1, CAST(0x0000A2FA01316243 AS DateTime))
GO
INSERT [dbo].[Product] ([Id], [Code], [Name], [ProductGroupId], [ProductUnitId], [SafeQuantity], [Size], [Picture], [Price], [IsSurface], [AllowSurface], [Note], [Status], [LastModifiedBy], [LastModifiedDate]) VALUES (2, N'PRD_140326063202', N'Sản Phẩm', 1, 1, 0, N'111', NULL, 10, 0, 0, NULL, 0, 1, CAST(0x0000A2FA0131764D AS DateTime))
GO
INSERT [dbo].[Product] ([Id], [Code], [Name], [ProductGroupId], [ProductUnitId], [SafeQuantity], [Size], [Picture], [Price], [IsSurface], [AllowSurface], [Note], [Status], [LastModifiedBy], [LastModifiedDate]) VALUES (3, N'PRD_140326063214', N'Sản Phẩm', 1, 1, 0, NULL, NULL, 15, 0, 0, NULL, 0, 1, CAST(0x0000A2FA01318144 AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductCategory] ON 

GO
INSERT [dbo].[ProductCategory] ([Id], [Name], [Status], [LastModifiedBy], [LastModifiedDate]) VALUES (1, N'DEFAULT', 0, 0, CAST(0x0000A2A600000000 AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[ProductCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductGroup] ON 

GO
INSERT [dbo].[ProductGroup] ([Id], [ProductCategoryId], [Name], [Note], [Status], [LastModifiedBy], [LastModifiedDate]) VALUES (1, 1, N'DEFAULT', NULL, 0, 0, CAST(0x0000A2A600000000 AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[ProductGroup] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductUnit] ON 

GO
INSERT [dbo].[ProductUnit] ([Id], [Name], [Status], [LastModifiedBy], [LastModifiedDate]) VALUES (1, N'N/A', 0, 0, CAST(0x0000A2C500000000 AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[ProductUnit] OFF
GO
SET IDENTITY_INSERT [dbo].[Provider] ON 

GO
INSERT [dbo].[Provider] ([Id], [Code], [Name], [PhoneNumber1], [PhoneNumber2], [FaxNumber], [Email], [Address], [CityId], [Note], [Status], [LastModifiedDate], [LastModifiedBy]) VALUES (1, N'PRV_DEFAULT', N'N/A', N'0', N'0', N'0', NULL, N'0', 51, N'Nhà Cung Cấp Mặc Định', 0, CAST(0x0000A2C500000000 AS DateTime), 0)
GO
SET IDENTITY_INSERT [dbo].[Provider] OFF
GO
SET IDENTITY_INSERT [dbo].[Session] ON 

GO
INSERT [dbo].[Session] ([Id], [Token], [UserId], [StartDate], [LastRenewDate], [IPAddress]) VALUES (1, N'd6f2412d-7410-4959-8ad4-4bc0b07f1dab', 1, CAST(0x0000A2FB00556940 AS DateTime), CAST(0x0000A2FB005594FD AS DateTime), N'192.168.136.1')
GO
INSERT [dbo].[Session] ([Id], [Token], [UserId], [StartDate], [LastRenewDate], [IPAddress]) VALUES (2, N'4e81a9c3-366c-43da-bb5d-6e700338716e', 2, CAST(0x0000A2E200D33393 AS DateTime), CAST(0x0000A2E200D333A1 AS DateTime), N'192.168.136.1')
GO
SET IDENTITY_INSERT [dbo].[Session] OFF
GO
SET IDENTITY_INSERT [dbo].[Stock] ON 

GO
INSERT [dbo].[Stock] ([Id], [Name], [Code], [PhoneNumber1], [PhoneNumber2], [FaxNumber], [Address], [CityId], [Note], [Status], [LastModifiedDate], [LastModifiedBy]) VALUES (5, N'Kho Hàng 1', N'STK_2', N'111', N'222', NULL, N'123', 54, N'213213123', 0, CAST(0x0000A2F901481B15 AS DateTime), 1)
GO
INSERT [dbo].[Stock] ([Id], [Name], [Code], [PhoneNumber1], [PhoneNumber2], [FaxNumber], [Address], [CityId], [Note], [Status], [LastModifiedDate], [LastModifiedBy]) VALUES (6, N'Kho Hàng 2', N'STK_1', NULL, NULL, NULL, NULL, 51, NULL, 0, CAST(0x0000A2F901481B15 AS DateTime), 1)
GO
SET IDENTITY_INSERT [dbo].[Stock] OFF
GO
SET IDENTITY_INSERT [dbo].[Storage] ON 

GO
INSERT [dbo].[Storage] ([Id], [StockId], [ProductId], [Quantity], [Status], [CreatedDate], [LastModifiedDate], [LastModifiedBy]) VALUES (9, 5, 3, 0, 0, CAST(0x0000A2FA01366080 AS DateTime), CAST(0x0000A2FA01365BEA AS DateTime), 1)
GO
INSERT [dbo].[Storage] ([Id], [StockId], [ProductId], [Quantity], [Status], [CreatedDate], [LastModifiedDate], [LastModifiedBy]) VALUES (10, 5, 2, 0, 0, CAST(0x0000A2FA01366238 AS DateTime), CAST(0x0000A2FA01365BEA AS DateTime), 1)
GO
INSERT [dbo].[Storage] ([Id], [StockId], [ProductId], [Quantity], [Status], [CreatedDate], [LastModifiedDate], [LastModifiedBy]) VALUES (11, 5, 1, 0, 0, CAST(0x0000A2FA013664EF AS DateTime), CAST(0x0000A2FA01365BEA AS DateTime), 1)
GO
SET IDENTITY_INSERT [dbo].[Storage] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

GO
INSERT [dbo].[User] ([Id], [GroupId], [Name], [Password], [FirstName], [LastName], [Gender], [ReferUserId], [Status], [LastModifiedBy], [LastModifiedDate]) VALUES (1, 1, N'administrator', N'7C4A8D09CA3762AF61E59520943DC26494F8941B', N'Van A Chau', N'ADMIN', 0, 5, 0, 0, CAST(0x0000A2C500000000 AS DateTime))
GO
INSERT [dbo].[User] ([Id], [GroupId], [Name], [Password], [FirstName], [LastName], [Gender], [ReferUserId], [Status], [LastModifiedBy], [LastModifiedDate]) VALUES (2, 2, N'User2', N'7C4A8D09CA3762AF61E59520943DC26494F8941B', N'Họ', N'Tên', 0, 5, 0, 1, CAST(0x0000A2F90137F2D4 AS DateTime))
GO
INSERT [dbo].[User] ([Id], [GroupId], [Name], [Password], [FirstName], [LastName], [Gender], [ReferUserId], [Status], [LastModifiedBy], [LastModifiedDate]) VALUES (3, 2, N'User3', N'7C4A8D09CA3762AF61E59520943DC26494F8941B', N'Họ', N'Tên', 0, 5, 0, 1, CAST(0x0000A2F90137F38F AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET IDENTITY_INSERT [dbo].[UserGroup] ON 

GO
INSERT [dbo].[UserGroup] ([Id], [Name], [Note], [Status], [LastModifiedBy], [LastModifiedDate]) VALUES (1, N'Administrators', N'Group ADMIN', 0, 0, CAST(0x0000A2C500000000 AS DateTime))
GO
INSERT [dbo].[UserGroup] ([Id], [Name], [Note], [Status], [LastModifiedBy], [LastModifiedDate]) VALUES (2, N'Users', N'Group USERS', 0, 1, CAST(0x0000A2F90137F2CA AS DateTime))
GO
INSERT [dbo].[UserGroup] ([Id], [Name], [Note], [Status], [LastModifiedBy], [LastModifiedDate]) VALUES (3, N'OWNER', N'COMPANY_OWNER', 0, 1, CAST(0x0000A2F90137F400 AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[UserGroup] OFF
GO
SET IDENTITY_INSERT [dbo].[UserInfo] ON 

GO
INSERT [dbo].[UserInfo] ([Id], [UserId], [BirthDate], [PhoneNumber1], [PhoneNumber2], [Email], [Address], [CityId], [Note], [Image], [StartDate], [SocialInsuranceNumber], [TaxNumber], [SocialNumber], [SocialIssuedDate], [SocialIssudePlace]) VALUES (1, 2, CAST(0x0000722300000000 AS DateTime), NULL, NULL, NULL, NULL, 1, NULL, NULL, CAST(0x0000A2F90137A915 AS DateTime), NULL, NULL, NULL, CAST(0x0000A2F90137A915 AS DateTime), NULL)
GO
INSERT [dbo].[UserInfo] ([Id], [UserId], [BirthDate], [PhoneNumber1], [PhoneNumber2], [Email], [Address], [CityId], [Note], [Image], [StartDate], [SocialInsuranceNumber], [TaxNumber], [SocialNumber], [SocialIssuedDate], [SocialIssudePlace]) VALUES (2, 3, CAST(0x0000722300000000 AS DateTime), NULL, NULL, NULL, NULL, 1, NULL, NULL, CAST(0x0000A2F90137B409 AS DateTime), NULL, NULL, NULL, CAST(0x0000A2F90137B409 AS DateTime), NULL)
GO
SET IDENTITY_INSERT [dbo].[UserInfo] OFF
GO
ALTER TABLE [dbo].[Customer] ADD  CONSTRAINT [DF_Customer_CustomerType]  DEFAULT ((0)) FOR [CustomerType]
GO
ALTER TABLE [dbo].[Customer] ADD  CONSTRAINT [DF_Customer_Address]  DEFAULT ('') FOR [Address]
GO
ALTER TABLE [dbo].[Customer] ADD  CONSTRAINT [DF_Customer_CityId]  DEFAULT ((51)) FOR [CityId]
GO
ALTER TABLE [dbo].[Customer] ADD  CONSTRAINT [DF_Customer_ApprovedBy]  DEFAULT ((1)) FOR [ApprovedUserId]
GO
ALTER TABLE [dbo].[Order] ADD  CONSTRAINT [DF_Order_IsShip]  DEFAULT ((0)) FOR [IsShip]
GO
ALTER TABLE [dbo].[Order] ADD  CONSTRAINT [DF_Order_TransitFee]  DEFAULT ((0)) FOR [TransitFee]
GO
ALTER TABLE [dbo].[Order] ADD  CONSTRAINT [DF_Order_AdjustFee]  DEFAULT ((0)) FOR [AdjustFee]
GO
ALTER TABLE [dbo].[OrderPayment] ADD  CONSTRAINT [DF_OrderPayment_Money]  DEFAULT ((0)) FOR [Money]
GO
ALTER TABLE [dbo].[Product] ADD  CONSTRAINT [DF_Product_SafeQuantity]  DEFAULT ((0)) FOR [SafeQuantity]
GO
ALTER TABLE [dbo].[Provider] ADD  CONSTRAINT [DF_Provider_CityId]  DEFAULT ((51)) FOR [CityId]
GO
ALTER TABLE [dbo].[Stock] ADD  CONSTRAINT [DF_Stock_CityId]  DEFAULT ((51)) FOR [CityId]
GO
ALTER TABLE [dbo].[Storage] ADD  CONSTRAINT [DF_Storage_CreatedDate]  DEFAULT (((2014)-(2))-(24)) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Storage] ADD  CONSTRAINT [DF_Storage_LastModifiedDate]  DEFAULT (((2014)-(2))-(24)) FOR [LastModifiedDate]
GO
ALTER TABLE [dbo].[Storage] ADD  CONSTRAINT [DF_Storage_LastModifiedBy]  DEFAULT ((1)) FOR [LastModifiedBy]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_FirstName]  DEFAULT (N'FIRSTNAME') FOR [FirstName]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_LastName]  DEFAULT (N'LASTNAME') FOR [LastName]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_Gender]  DEFAULT ((0)) FOR [Gender]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_ReferUserId]  DEFAULT ((0)) FOR [ReferUserId]
GO
ALTER TABLE [dbo].[UserInfo] ADD  CONSTRAINT [DF_UserInfo_CityId]  DEFAULT ((51)) FOR [CityId]
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [FK_Customer_City] FOREIGN KEY([CityId])
REFERENCES [dbo].[City] ([Id])
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [FK_Customer_City]
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [FK_Customer_User] FOREIGN KEY([ApprovedUserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [FK_Customer_User]
GO
ALTER TABLE [dbo].[CustomerShipping]  WITH CHECK ADD  CONSTRAINT [FK_CustomerContact_Customer] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([Id])
GO
ALTER TABLE [dbo].[CustomerShipping] CHECK CONSTRAINT [FK_CustomerContact_Customer]
GO
ALTER TABLE [dbo].[CustomerShipping]  WITH CHECK ADD  CONSTRAINT [FK_CustomerShipping_City] FOREIGN KEY([CityId])
REFERENCES [dbo].[City] ([Id])
GO
ALTER TABLE [dbo].[CustomerShipping] CHECK CONSTRAINT [FK_CustomerShipping_City]
GO
ALTER TABLE [dbo].[Export]  WITH CHECK ADD  CONSTRAINT [FK_Export_Order] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Order] ([Id])
GO
ALTER TABLE [dbo].[Export] CHECK CONSTRAINT [FK_Export_Order]
GO
ALTER TABLE [dbo].[Export]  WITH CHECK ADD  CONSTRAINT [FK_Export_Stock] FOREIGN KEY([StockId])
REFERENCES [dbo].[Stock] ([Id])
GO
ALTER TABLE [dbo].[Export] CHECK CONSTRAINT [FK_Export_Stock]
GO
ALTER TABLE [dbo].[Export]  WITH CHECK ADD  CONSTRAINT [FK_Export_User] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Export] CHECK CONSTRAINT [FK_Export_User]
GO
ALTER TABLE [dbo].[ExportDetail]  WITH CHECK ADD  CONSTRAINT [FK_ExportDetail_Export] FOREIGN KEY([ExportId])
REFERENCES [dbo].[Export] ([Id])
GO
ALTER TABLE [dbo].[ExportDetail] CHECK CONSTRAINT [FK_ExportDetail_Export]
GO
ALTER TABLE [dbo].[ExportDetail]  WITH CHECK ADD  CONSTRAINT [FK_ExportDetail_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([Id])
GO
ALTER TABLE [dbo].[ExportDetail] CHECK CONSTRAINT [FK_ExportDetail_Product]
GO
ALTER TABLE [dbo].[ExportDetail]  WITH CHECK ADD  CONSTRAINT [FK_ExportDetail_Storage] FOREIGN KEY([StorageId])
REFERENCES [dbo].[Storage] ([Id])
GO
ALTER TABLE [dbo].[ExportDetail] CHECK CONSTRAINT [FK_ExportDetail_Storage]
GO
ALTER TABLE [dbo].[FeatureMapping]  WITH CHECK ADD  CONSTRAINT [FK_FeatureMapping_Feature] FOREIGN KEY([FeatureId])
REFERENCES [dbo].[Feature] ([Id])
GO
ALTER TABLE [dbo].[FeatureMapping] CHECK CONSTRAINT [FK_FeatureMapping_Feature]
GO
ALTER TABLE [dbo].[FeatureMapping]  WITH CHECK ADD  CONSTRAINT [FK_FeatureMapping_UserGroup] FOREIGN KEY([UserGroupId])
REFERENCES [dbo].[UserGroup] ([Id])
GO
ALTER TABLE [dbo].[FeatureMapping] CHECK CONSTRAINT [FK_FeatureMapping_UserGroup]
GO
ALTER TABLE [dbo].[Import]  WITH CHECK ADD  CONSTRAINT [FK_Import_Provider] FOREIGN KEY([ProviderId])
REFERENCES [dbo].[Provider] ([Id])
GO
ALTER TABLE [dbo].[Import] CHECK CONSTRAINT [FK_Import_Provider]
GO
ALTER TABLE [dbo].[Import]  WITH CHECK ADD  CONSTRAINT [FK_Import_Stock] FOREIGN KEY([StockId])
REFERENCES [dbo].[Stock] ([Id])
GO
ALTER TABLE [dbo].[Import] CHECK CONSTRAINT [FK_Import_Stock]
GO
ALTER TABLE [dbo].[Import]  WITH CHECK ADD  CONSTRAINT [FK_Import_User] FOREIGN KEY([CreatebBy])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Import] CHECK CONSTRAINT [FK_Import_User]
GO
ALTER TABLE [dbo].[ImportDetail]  WITH CHECK ADD  CONSTRAINT [FK_ImportDetail_Import] FOREIGN KEY([ImportId])
REFERENCES [dbo].[Import] ([Id])
GO
ALTER TABLE [dbo].[ImportDetail] CHECK CONSTRAINT [FK_ImportDetail_Import]
GO
ALTER TABLE [dbo].[ImportDetail]  WITH CHECK ADD  CONSTRAINT [FK_ImportDetail_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([Id])
GO
ALTER TABLE [dbo].[ImportDetail] CHECK CONSTRAINT [FK_ImportDetail_Product]
GO
ALTER TABLE [dbo].[ImportDetail]  WITH CHECK ADD  CONSTRAINT [FK_ImportDetail_Storage] FOREIGN KEY([StorageId])
REFERENCES [dbo].[Storage] ([Id])
GO
ALTER TABLE [dbo].[ImportDetail] CHECK CONSTRAINT [FK_ImportDetail_Storage]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Customer] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([Id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Customer]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_User2] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_User2]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Order] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Order] ([Id])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Order]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([Id])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Product]
GO
ALTER TABLE [dbo].[OrderPayment]  WITH CHECK ADD  CONSTRAINT [FK_OrderPayment_Order] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Order] ([Id])
GO
ALTER TABLE [dbo].[OrderPayment] CHECK CONSTRAINT [FK_OrderPayment_Order]
GO
ALTER TABLE [dbo].[OrderPayment]  WITH CHECK ADD  CONSTRAINT [FK_OrderPayment_PaymentType] FOREIGN KEY([PaymentTypeId])
REFERENCES [dbo].[PaymentType] ([Id])
GO
ALTER TABLE [dbo].[OrderPayment] CHECK CONSTRAINT [FK_OrderPayment_PaymentType]
GO
ALTER TABLE [dbo].[OrderPayment]  WITH CHECK ADD  CONSTRAINT [FK_OrderPayment_User] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[OrderPayment] CHECK CONSTRAINT [FK_OrderPayment_User]
GO
ALTER TABLE [dbo].[OrderTrack]  WITH CHECK ADD  CONSTRAINT [FK_OrderTrack_Order] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Order] ([Id])
GO
ALTER TABLE [dbo].[OrderTrack] CHECK CONSTRAINT [FK_OrderTrack_Order]
GO
ALTER TABLE [dbo].[OrderTrack]  WITH CHECK ADD  CONSTRAINT [FK_OrderTrack_User] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[OrderTrack] CHECK CONSTRAINT [FK_OrderTrack_User]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_ProductGroup] FOREIGN KEY([ProductGroupId])
REFERENCES [dbo].[ProductGroup] ([Id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_ProductGroup]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_ProductUnit] FOREIGN KEY([ProductUnitId])
REFERENCES [dbo].[ProductUnit] ([Id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_ProductUnit]
GO
ALTER TABLE [dbo].[ProductGroup]  WITH CHECK ADD  CONSTRAINT [FK_ProductGroup_ProductCategory] FOREIGN KEY([ProductCategoryId])
REFERENCES [dbo].[ProductCategory] ([Id])
GO
ALTER TABLE [dbo].[ProductGroup] CHECK CONSTRAINT [FK_ProductGroup_ProductCategory]
GO
ALTER TABLE [dbo].[Provider]  WITH CHECK ADD  CONSTRAINT [FK_Provider_City] FOREIGN KEY([CityId])
REFERENCES [dbo].[City] ([Id])
GO
ALTER TABLE [dbo].[Provider] CHECK CONSTRAINT [FK_Provider_City]
GO
ALTER TABLE [dbo].[Stock]  WITH CHECK ADD  CONSTRAINT [FK_Stock_City] FOREIGN KEY([CityId])
REFERENCES [dbo].[City] ([Id])
GO
ALTER TABLE [dbo].[Stock] CHECK CONSTRAINT [FK_Stock_City]
GO
ALTER TABLE [dbo].[Storage]  WITH CHECK ADD  CONSTRAINT [FK_Storage_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([Id])
GO
ALTER TABLE [dbo].[Storage] CHECK CONSTRAINT [FK_Storage_Product]
GO
ALTER TABLE [dbo].[Storage]  WITH CHECK ADD  CONSTRAINT [FK_Storage_Stock] FOREIGN KEY([StockId])
REFERENCES [dbo].[Stock] ([Id])
GO
ALTER TABLE [dbo].[Storage] CHECK CONSTRAINT [FK_Storage_Stock]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_UserGroup] FOREIGN KEY([GroupId])
REFERENCES [dbo].[UserGroup] ([Id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_UserGroup]
GO
ALTER TABLE [dbo].[UserInfo]  WITH CHECK ADD  CONSTRAINT [FK_UserInfo_City] FOREIGN KEY([CityId])
REFERENCES [dbo].[City] ([Id])
GO
ALTER TABLE [dbo].[UserInfo] CHECK CONSTRAINT [FK_UserInfo_City]
GO
ALTER TABLE [dbo].[UserInfo]  WITH CHECK ADD  CONSTRAINT [FK_UserInfo_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[UserInfo] CHECK CONSTRAINT [FK_UserInfo_User]
GO
USE [master]
GO
